# Django
DEBUG=True
DJANGO_SECRET_KEY=""
DJANGO_SETTINGS_MODULE=
DJANGO_ALLOWED_HOSTS=*
DJANGO_ADMIN_PASSWORD=admin
# Email
EMAIL_DOMAIN=localhost
EMAIL_HOST=localhost
EMAIL_PORT=587
EMAIL_HOST_USER=admin@localhost
EMAIL_HOST_PASSWORD=password
DEFAULT_FROM_EMAIL=admin@localhost
# Database
DB_NAME=postgres
DB_USER=postgres
DB_PASS=postgres
DB_HOST=db
DB_PORT=5432
# Env for local dev
WDB_SOCKET_SERVER=wdb
WDB_NO_BROWSER_AUTO_OPEN=True
